---
const {
    type= 'link',
    link= '',
    target= '_self',
    color= 'primary'
} = Astro.props;

const baseClass = 'px-10 py-3 rounded-full inline-block transition-shadow duration-300 hover:shadow-md cursor-pointer';

const colorMap = {
    primary: 'bg-lime-300 hover:bg-lime-400 text-slate-900',
    secondary: 'bg-slate-800 hover:bg-slate-900 text-white'
} as any
const colorClass = colorMap[color] || colorMap.primary;
---

{type === 'link' ? (
    <a 
        href={link} 
        target={target}
        class={`${baseClass} ${colorClass}`}
        x-data="{ loading: false }"
        @click="loading = true"
    >
        <slot />
    </a>
) : (
    <button 
        type="button"
        class={`${baseClass} ${colorClass}`}
        x-data="{ loading: false }"
        @click="loading = true"
    >
        <slot />
    </button>
)}