---
import { Image } from 'astro:assets';
import ImgKlienBrimob from '../assets/klien-brimob.webp';
import ImgKlienBeacukai from '../assets/klien-beacukai.webp';
import ImgKlienMandiri from '../assets/klien-mandiri.webp';
import ImgKlienKejaksaan from '../assets/klien-kejaksaan.webp';
import ImgKlienTidore from '../assets/klien-tidore.webp';

import ImgUserHoky from '../assets/users-google/hoky.webp';
import ImgUserHarapan from '../assets/users-google/harapan.webp';
import ImgUserIdrus from '../assets/users-google/idrus.webp';
import ImgUserHomestay from '../assets/users-google/homestay.webp';
import ImgUserToni from '../assets/users-google/toni.webp';

import Button from '../components/Button.astro';

const items = [
    {
        img: ImgKlienBrimob,
        title: 'Brimob Sulawesi Tenggara'
    },
    {
        img: ImgKlienBeacukai,
        title: 'Bea Cukai Sabang Aceh'
    },
    {
        img: ImgKlienMandiri,
        title: 'Bank Mandiri Remittance Malaysia'
    },
    {
        img: ImgKlienKejaksaan,
        title: 'Kejaksaan Negeri Kepahiang Bengkulu'
    },
    {
        img: ImgKlienTidore,
        title: 'DPRD Tidore Kepulauan'
    }
]

const itemsUlasan = [
    {
        avatar: ImgUserHoky,
        title: 'Hoky Artificial',
        testimonial: 'Tim yang sangat ramah, responsif, profesional, dan selalu mendengarkan kami jika ada yang kurang dimengerti untuk mengedit website. Kualitas website yang dihasilkan juga bagus, dan yang paling penting, harganya sangat kompetitif dan sebanding dengan hasil  yang kami dapatkan. Sangat direkomendasikan!'
    },
    {
        avatar: ImgUserHarapan,
        title: 'Harapan Sitorus',
        testimonial: 'Terimakasih kerjasama team Velocity Developer atas bantuan pembuatan Website perusahaan kami, pelayanan cepat, tepat murah dan response cepat sesuai harapan kami.'
    },
    {
        avatar: ImgUserIdrus,
        title: 'Idrus R',
        testimonial: 'Velocity developer sangat luar biasa  mantap , dan tidak sulit bila kita sebagai pengguna ada kendala secara teknis tinggal bilang saja kepada tim suport nya,dan langsung di respon. Terimakasih sukses selalu'
    },
    {
        avatar: ImgUserHomestay,
        title: 'Homestay Dieng', 
        testimonial: 'The best pelyananya setiap ada kendala langsung di bales walupun kadang udah malam terimakasih Velocity Developer atas pelayanannya....SANGAT REKOMENDED....Nex order lagiiii Salam SUkses'
    },
    {
        avatar: ImgUserToni,
        title: 'Toni Sudartono', 
        testimonial: 'Developer ini sangat bertanggung jawab memfasilitasi klien-nya. Respon yang diberikan sangat cepat dan mengatasi semua permasalahan website yang dialami klien-nya. Good job, good respons'
    }
]
---

<section id="klien" class="bg-white py-12 px-6 md:py-20">
    <div class="mx-auto max-w-7xl">

        <h2 class="text-center font-bold text-2xl md:text-3xl mb-6 md:mb-10 mx-auto max-w-2xl">
            Telah Dipercaya Oleh
        </h2>

        <div class="overflow-hidden marquee-container">
            <div class="marquee-track flex text-sm md:text-lg">
                <div class="marquee-content flex">
                    {items.map((item) => (
                        <div class="text-center px-1 group w-50 md:w-60">
                            <Image src={item.img} class="mx-auto max-w-40 opacity-70 grayscale transition-all group-hover:opacity-100 group-hover:grayscale-0" alt={item.title} loading="lazy"/>
                            <div class="text-xs md:text-sm text-slate-600 mt-1 px-4">{item.title}</div>
                        </div>
                    ))}
                </div>
                <div class="marquee-content flex">
                    {items.map((item) => (
                        <div class="text-center px-4 group w-60">
                            <Image src={item.img} class="mx-auto max-w-40 opacity-70 grayscale transition-all group-hover:opacity-100 group-hover:grayscale-0" alt={item.title} loading="lazy"/>
                            <div class="text-xs md:text-sm text-slate-600 mt-1 px-4">{item.title}</div>
                        </div>
                    ))}
                </div>
            </div>
        </div>        

    </div>
</section>

<section id="review" class="bg-white py-12 px-6 md:py-20">
    <div class="mx-auto max-w-7xl">
        <h2 class="text-center font-bold text-2xl md:text-4xl mb-2 md:mb-4">
            Reputasi Terbaik di Google Maps
        </h2>
        <p class="text-center mb-6 md:mb-10">
            Kami mendapatkan 1.200 ulasan di google maps bintang 5
        </p>

        <div class="overflow-hidden py-2 marquee-container">
            <div class="marquee-track flex text-sm md:text-lg">
                <div class="marquee-content flex">
                    {itemsUlasan.map((item) => (
                        <div class="py-2 px-3 w-[90vw] md:w-[50vw] xl:w-110">
                            <div class="group shadow-md hover:shadow-lg rounded-xl p-4 md:p-8 xl:min-h-65" x-data={`{ testi: ${JSON.stringify(item.testimonial)} }`}>
                                <div class="flex items-center gap-3 border-b border-slate-300 mb-4 pb-4">
                                    <Image src={item.avatar} class="h-10 w-10 object-cover rounded-full" alt={item.title} loading="lazy"/>
                                    <div>
                                        <div class="text-sm font-bold mb-1">{item.title}</div>
                                        <div class="flex text-yellow-400">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm text-slate-600 group-hover:text-slate-800 min-h-25 tracking-normal mt-3" x-html="testi"></div>
                            </div>
                        </div>
                    ))}
                </div>
                <div class="marquee-content flex">
                    {itemsUlasan.map((item) => (
                        <div class="py-2 px-3 w-[90vw] md:w-[50vw] xl:w-110">
                            <div class="group shadow-md hover:shadow-lg rounded-xl p-4 md:p-8 min-h-65" x-data={`{ testi: ${JSON.stringify(item.testimonial)} }`}>
                                <div class="flex items-center gap-3 border-b border-slate-300 mb-4 pb-4">
                                    <Image src={item.avatar} class="h-10 w-10 object-cover rounded-full" alt={item.title} loading="lazy"/>
                                    <div>
                                        <div class="text-sm font-bold mb-1">{item.title}</div>
                                        <div class="flex text-yellow-400">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm text-slate-600 group-hover:text-slate-800 min-h-25 tracking-normal mt-3" x-html="testi"></div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </div>

        <div class="text-center mt-10">                       
            <Button link="https://maps.app.goo.gl/ePHZChMfra1wJHif6" target="_blank" color="secondary">                
                <div class="flex justify-center items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    Lihat ulasan Google Maps
                </div>
            </Button>
        </div>

    </div>
</section>